## Import librairie :

In [11]:
import requests
#Packages
#--Web scraping packages
from bs4 import BeautifulSoup
import requests
#Pandas/numpy for data manipulation
import pandas as pd
import numpy as np
import time

# Commerce :

In [12]:
#récupère les données des services
chiffre = requests.get('https://www.bien-dans-ma-ville.fr/puy-en-velay-43157').text
soup = BeautifulSoup(chiffre, "html.parser")
services = soup.find("section",{"id":"services"})
all_tab_html=services.findAll("td")
dico_service={}
for i in all_tab_html :
    if (str(i.contents[0])=='<i class="fas fa-times"></i>'):
        dico_service[j]=0
    elif (i.contents[0].isdigit()) :
        dico_service[j]=int(i.contents[0])
    else :
        j=str(i.contents[0]).replace('\t','').replace('\n','')
    
df_service=pd.DataFrame(dico_service, index=[0])
df_service

,Hypermarché,Supermarché,Boulangerie,Boucherie,Station service,Banque,La poste,Coiffeur,Vétérinaire,Restaurant,Médecin,Dentiste,Pharmacie,Maternelle,Primaire,Collège,Lycée
0,0,2,23,23,3,20,2,52,5,133,413,28,18,13,13,5,7

# Notes moyennes :

In [13]:
#récupère les notes des avis
webpage = requests.get('https://www.bien-dans-ma-ville.fr/puy-en-velay-43157/avis.html').text
soupavis = BeautifulSoup(webpage, "html.parser")
intro = soupavis.find("section", {"id": "intro"})
notesHtml=intro.findAll("span",{"class":"compteur"})
dicoNotes={}
tabCategorie=["Securite", "Education","Loisir / Sport","Environnement","Pratique"]
j=0
for i in notesHtml :
    dicoNotes[tabCategorie[j]]=float(i.contents[0])
    j+=1
dfNote=pd.DataFrame(dicoNotes, index=[0])
dfNote

   Securite  Education  Loisir / Sport  Environnement  Pratique
0       3.7        3.7             3.9            4.1       3.7

# Grosse fonction de la mort XX :

In [14]:
def recupData(lien, insee):
  #Récupère les commerces
  chiffre = requests.get(lien).text
  soup = BeautifulSoup(chiffre, "html.parser")
  services = soup.find("section",{"id":"services"})
  all_tab_html=services.findAll("td")
  dico_service={}
  for i in all_tab_html :
      if (str(i.contents[0])=='<i class="fas fa-times"></i>'):
          dico_service[j]=0
      elif (i.contents[0].isdigit()) :
          dico_service[j]=int(i.contents[0])
      else :
          j=str(i.contents[0]).replace('\t','').replace('\n','')
      
  df_service=pd.DataFrame(dico_service, index=[0])

  #Récupère info Ville
  chiffre_web = soup.find_all('section', id='chiffres')

  Insee = insee
  Ville = []
  Code_postal = []
  Nb_habitants = []
  Superficie = []
  Pop_densite = []
  Pop_active = []
  Taux_chomage = []
  Revenu_moyen = []
  Prix_moyen = []
  Tranche_population_0_14 = []
  Activite_professionnelle = [] 
  Note_global = [] 

  for comp in chiffre_web:
      Ville.append(soup.find_all('h1')[0].text.strip()[:-6])
      Code_postal.append(soup.find_all('h1')[0].text.strip()[-5:])
      Nb_habitants.append(soup.find_all('td')[1].text.strip())
      Superficie.append(soup.find_all('td')[4].text.strip())
      Pop_densite.append(soup.find_all('td')[7].text.strip())
      Pop_active.append(soup.find_all('td')[10].text.strip())
      Taux_chomage.append(soup.find_all('td')[13].text.strip())
      Revenu_moyen.append(soup.find_all('td')[16].text.strip())
      Prix_moyen.append(soup.find_all('td')[19].text.strip())
      if(soup.find("canvas",id="chart_age")["data-data"] is not None):
        Tranche_population_0_14.append(soup.find("canvas",id="chart_age")["data-data"])
      else :
        Tranche_population_0_14.append(np.nan)
      if(soup.find("canvas",id="chart_metier")["data-data"] is not None):
        Activite_professionnelle.append(soup.find("canvas",id="chart_metier")["data-data"])
      else:
        Activite_professionnelle.append(np.nan)
      if (soup.find("div", {"class": "total compteur"}) is not None ):
        Note_global.append(soup.find("div", {"class": "total compteur"}).contents[0])
      else :
        Note_global.append(np.nan)
  #creating dataframe for all list
  features = {'Insee':Insee, 'Code_postal':Code_postal, 'Ville':Ville,  'Nb_habitants':Nb_habitants, 'Superficie':Superficie, 'Pop_densite':Pop_densite,
            'Pop_active':Pop_active, 'Taux_chomage':Taux_chomage, 'Revenu_moyen':Revenu_moyen, 'Prix_moyen':Prix_moyen,
            'Tranche_population_0_14':Tranche_population_0_14, 'Activite_professionnelle':Activite_professionnelle,
            'Note_global':Note_global}
  df = pd.DataFrame(features)

  #Creation d'un nouveau dataframe pour les tranches de populations
  dfTranche_population=df['Tranche_population_0_14']
  dfTranche_population = dfTranche_population.str[1:-1]
  TotListeAge = dfTranche_population.str.split(",").apply(pd.Series)
  TotListeAge
  listeAge = ['0-14 ans','15-29 ans', '30-44 ans', '45-59 ans','60-74 ans','75-89 ans','90+ ans']
  dfListeAgeNom=pd.DataFrame(listeAge)
  dfListeAgeNom=dfListeAgeNom.transpose()
  dfListeAge=pd.concat([dfListeAgeNom, TotListeAge])
  headers = dfListeAge.iloc[0]
  dfListeAge  = pd.DataFrame(dfListeAge.values[1:], columns=headers)
  dfListeAge

  #Creation d'un nouveau dataframe pour les activités professionelle
  dfActivite_professionnelle=df['Activite_professionnelle']
  dfActivite_professionnelle = dfActivite_professionnelle.str[1:-1]
  TotActivites = dfActivite_professionnelle.str.split(",").apply(pd.Series)
  TotActivites
  listeActivites = ['Agriculteurs','Artisants/Commercants', 'Cadres', 'Profession intermédiaire','Employes','Ouvriers','Retraites','Sans emploie']
  dfActivitesNom=pd.DataFrame(listeActivites)
  dfActivitesNom=dfActivitesNom.transpose()
  dfListeActivites=pd.concat([dfActivitesNom, TotActivites])
  headersActivites = dfListeActivites.iloc[0]
  dfListeActivites  = pd.DataFrame(dfListeActivites.values[1:], columns=headersActivites)
  dfListeActivites

  #récupère les notes des avis
  webpage = requests.get(lien+'/avis.html').text
  soupavis = BeautifulSoup(webpage, "html.parser")
  intro = soupavis.find("section", {"id": "intro"})
  notesHtml=intro.findAll("span",{"class":"compteur"})
  dicoNotes={}
  tabCategorie=["Securite", "Education","Loisir / Sport","Environnement","Pratique"]
  j=0
  for i in notesHtml :
      dicoNotes[tabCategorie[j]]=float(i.contents[0])
      j+=1
  dfNote=pd.DataFrame(dicoNotes, index=[0])

  #Créer un dataframe des commentaire
  com = soupavis.findAll("div",{"class":"commentaire"})
  avis = []
  for i in com :
    dico_com={}
    dico_com['Insee']=df['Insee'][0]
    dico_com['Code_postal']=df['Code_postal'][0]
    dico_com['Ville']=df['Ville'][0]
    k=0
    for j in i.findAll("span"):  
      if(j.has_attr('title')) :
        dico_com[j['title']]=int(j.contents[0])
      elif (k==0 and not j.has_attr('class')):
        dico_com['pouce_positif']=int(j.contents[0])
        k+=1
      elif( not j.has_attr('class')):
        dico_com['pouce_negatif']=int(j.contents[0])
    dico_com['commentaire']=i.find('p',{'class':'description'}).contents[0]
    dico_com['date']=i.find('div',{'class':'date'}).contents[0]
    dico_com['auteur']=i.find('div',{'class':'auteur'}).contents[0]
    avis.append(dico_com)
  df_com=pd.DataFrame(avis)
  

  dfConcat=pd.concat([df, dfListeActivites,dfListeAge,dfNote,df_service], axis=1)
  dfConcat=dfConcat.drop(columns=['Tranche_population_0_14','Activite_professionnelle'],axis=1)
  return dfConcat, df_com

In [15]:
dfVille, dfComm = recupData('https://www.bien-dans-ma-ville.fr/soleilhas-04210','124455')
dfVille2, dfComm2 = recupData('https://www.bien-dans-ma-ville.fr/puy-en-velay-43157','32433')
dfConcat=pd.concat([dfVille,dfVille2], axis=0)
dfConcat

,Insee,Code_postal,Ville,Nb_habitants,Superficie,Pop_densite,Pop_active,Taux_chomage,Revenu_moyen,Prix_moyen,...,Pharmacie,Maternelle,Primaire,Collège,Lycée,Securite,Education,Loisir / Sport,Environnement,Pratique
0,124455,04120,Soleilhas,120,35 km²,3 h/km²,45.8%,5.8%,NC,1 258 €,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
0,32433,43000,Le Puy-en-Velay,18 909,17 km²,1 112 h/km²,43.5%,8%,18 086 €/an,1 359 €,...,18,13,13,5,7,3.7,3.7,3.9,4.1,3.7

# Fichier (excel) bien dans ma ville

In [16]:
df = pd.read_csv('../../Resources/communes_url.csv',sep=';')
df.head()

,index,code,nom,dep,url
0,0,1001,abergement-clemenciat,1,https://www.bien-dans-ma-ville.fr/abergement-c...
1,1,1002,abergement-de-varey,1,https://www.bien-dans-ma-ville.fr/abergement-d...
2,2,1004,amberieu-en-bugey,1,https://www.bien-dans-ma-ville.fr/amberieu-en-...
3,3,1005,amberieux-en-dombes,1,https://www.bien-dans-ma-ville.fr/amberieux-en...
4,4,1006,ambleon,1,https://www.bien-dans-ma-ville.fr/ambleon-01-0...

In [17]:
url = df['url']
code = df['code']
index = df['index']

In [18]:
i=0
liste_ville = []
liste_comm = []

while i != 4000:
  try:
   dfVille , dfComm = recupData(url[i],code[i])
   liste_ville.append(dfVille)
   liste_comm.append(dfComm)
   i+=1
  except: 
    print(url[i])
    i+=1

time.sleep(30)

while i != 8000:
  try:
    dfVille , dfComm = recupData(url[i],code[i])
    liste_ville.append(dfVille)
    liste_comm.append(dfComm)
    i+=1
  except: 
    print(url[i])
    i+=1

time.sleep(30)

while i != 12000:
  try:
    dfVille , dfComm = recupData(url[i],code[i])
    liste_ville.append(dfVille)
    liste_comm.append(dfComm)
    i+=1
  except: 
    print(url[i])
    i+=1

time.sleep(30)

while i != 16000:
  try:
    dfVille , dfComm = recupData(url[i],code[i])
    liste_ville.append(dfVille)
    liste_comm.append(dfComm)
    i+=1
  except: 
    print(url[i])
    i+=1

time.sleep(30)

while i != 20000:
  try:
    dfVille , dfComm = recupData(url[i],code[i])
    liste_ville.append(dfVille)
    liste_comm.append(dfComm)
    i+=1
  except: 
    print(url[i])
    i+=1

https://www.bien-dans-ma-ville.fr/marolles-les-bailly-10-10226
https://www.bien-dans-ma-ville.fr/saint-simeux-16-16351
https://www.bien-dans-ma-ville.fr/juillac-19-19094
https://www.bien-dans-ma-ville.fr/crimolois-21-21213
https://www.bien-dans-ma-ville.fr/premieres-21-21507
https://www.bien-dans-ma-ville.fr/trois-lacs-27-27676
https://www.bien-dans-ma-ville.fr/kergloff-29-29089
https://www.bien-dans-ma-ville.fr/saint-loup-de-gonois-45-45287
https://www.bien-dans-ma-ville.fr/cuzac-46-46085
https://www.bien-dans-ma-ville.fr/saint-martin-de-connee-53-53239
https://www.bien-dans-ma-ville.fr/vimarce-53-53274
https://www.bien-dans-ma-ville.fr/beaumont-en-verdunois-55-55039
https://www.bien-dans-ma-ville.fr/bezonvaux-55-55050
https://www.bien-dans-ma-ville.fr/cumieres-le-mort-homme-55-55139
https://www.bien-dans-ma-ville.fr/fleury-devant-douaumont-55-55189
https://www.bien-dans-ma-ville.fr/haumont-pres-samogneux-55-55239
https://www.bien-dans-ma-ville.fr/louvemont-cote-du-poivre-55-55307

In [19]:
time.sleep(30)

while i != 24000:
  try:
    dfVille , dfComm = recupData(url[i],code[i])
    liste_ville.append(dfVille)
    liste_comm.append(dfComm)
    i+=1
  except: 
    print(url[i])
    i+=1

In [20]:
time.sleep(30)

while i != 28000:
  try:
    dfVille , dfComm = recupData(url[i],code[i])
    liste_ville.append(dfVille)
    liste_comm.append(dfComm)
    i+=1
  except: 
    print(url[i])
    i+=1

In [21]:
time.sleep(30)

while i != 32000:
  try:
    dfVille , dfComm = recupData(url[i],code[i])
    liste_ville.append(dfVille)
    liste_comm.append(dfComm)
    i+=1
  except: 
    print(url[i])
    i+=1

https://www.bien-dans-ma-ville.fr/saint-antonin-noble-val-82-82155

In [22]:
time.sleep(30)

while i != len(index):
  try:
    dfVille , dfComm = recupData(url[i],code[i])
    liste_ville.append(dfVille)
    liste_comm.append(dfComm)
    i+=1
  except: 
    print(url[i])
    i+=1

In [23]:
columns=['Insee',	'Code_postal',	'Ville',	'Nb_habitants',	'Superficie',	'Pop_densite',	'Pop_active',	'Taux_chomage',	'Revenu_moyen',	'Prix_moyen',	'Note_global',	'Agriculteurs',	'Artisants/Commercants',	'Cadres',	'Profession intermédiaire',	'Employes',	'Ouvriers',	'Retraites',	'Sans emploie',	'0-14 ans',	'15-29 ans',	'30-44 ans',	'45-59 ans',	'60-74 ans',	'75-89 ans',	'90+ ans',	'Hypermarché',	'Supermarché',	'Boulangerie',	'Boucherie'	,'Station service',	'Banque',	'La poste',	'Coiffeur',	'Vétérinaire',	'Restaurant',	'Médecin',	'Dentiste',	'Pharmacie',	'Maternelle',	'Primaire',	'Collège',	'Lycée',	'Securite',	'Education',	'Loisir / Sport',	'Environnement',	'Pratique']
df = pd.DataFrame(columns=columns)

col=['Insee',	'Code_postal',	'Ville',	'Sécurité',	'Éducation',	'Sport / Loisir',	'Environnement',	'Vie pratique',	'pouce_positif',	'pouce_negatif',	'commentaire',	'date',	'auteur']
df2 = pd.DataFrame(columns=col)

i=0
a=0

while i != len(liste_ville):
  df = df.append(liste_ville[i])
  i+=1


while a != len(liste_comm):
  df2 = df2.append(liste_comm[a])
  a+=1

In [24]:
df.head()

,Insee,Code_postal,Ville,Nb_habitants,Superficie,Pop_densite,Pop_active,Taux_chomage,Revenu_moyen,Prix_moyen,...,Pharmacie,Maternelle,Primaire,Collège,Lycée,Securite,Education,Loisir / Sport,Environnement,Pratique
0,1001,01400,L'Abergement-Clémenciat,767,16 km²,48 h/km²,49%,4.3%,22 228 €/an,1 938 €,...,0,1,1,0,0,NaN,NaN,NaN,NaN,NaN
0,1002,01640,L'Abergement-de-Varey,241,9 km²,27 h/km²,50.6%,4.1%,22 883 €/an,1 130 €,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
0,1004,01500,Ambérieu-en-Bugey,14 127,25 km²,565 h/km²,47.5%,7.5%,19 735 €/an,2 005 €,...,6,5,4,2,2,4.0,3.8,3.8,4.0,3.3
0,1005,01330,Ambérieux-en-Dombes,1 619,16 km²,101 h/km²,51.8%,4.1%,23 183 €/an,2 442 €,...,1,1,1,0,0,5.0,5.0,3.0,3.0,3.0
0,1006,01300,Ambléon,109,6 km²,18 h/km²,52.3%,7.3%,NC,1 155 €,...,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN

In [25]:
df2.head()

,Insee,Code_postal,Ville,Sécurité,Éducation,Sport / Loisir,Environnement,Vie pratique,pouce_positif,pouce_negatif,commentaire,date,auteur
0,1004,01500,Ambérieu-en-Bugey,5,4,5,5,4,2,0,"Ville très agréable, tranquille et disposant d...",15/05/2021,INNO
1,1004,01500,Ambérieu-en-Bugey,4,4,4,4,3,0,1,La police et la gendarmerie peuvent se montrer...,03/03/2021,Jane
2,1004,01500,Ambérieu-en-Bugey,5,5,4,4,4,0,0,Ville ou sa ne vis pas beaucoup,04/11/2020,lilalou
3,1004,01500,Ambérieu-en-Bugey,2,4,2,4,2,0,0,C’est une belle ville mais peu d’activités (sp...,20/08/2019,Le tounsi
4,1004,01500,Ambérieu-en-Bugey,4,2,3,3,3,0,0,"Aspects positifs: la mixité sociale, cohabitat...",13/04/2018,Laetitialexandre

In [26]:
df.to_excel(r'donneeSite.xlsx', index = False)
df2.to_excel(r'donneeCommentaire.xlsx', index = False)

# Information Ville/Population :

In [27]:
chiffre_web = soup.find_all('section', id='chiffres')

Ville = []
Nb_habitants = []
Superficie = []
Pop_densite = []
Pop_active = []
Taux_chomage = []
Revenu_moyen = []
Prix_moyen = []
Tranche_population_0_14 = []
Activite_professionnelle = [] 
Note_global = [] 

for comp in chiffre_web:
    display(soup.find_all('h1')[0].text.strip())
    Ville.append(soup.find_all('h1')[0].text.strip())
    Nb_habitants.append(soup.find_all('td')[1].text.strip())
    Superficie.append(soup.find_all('td')[4].text.strip())
    Pop_densite.append(soup.find_all('td')[7].text.strip())
    Pop_active.append(soup.find_all('td')[10].text.strip())
    Taux_chomage.append(soup.find_all('td')[13].text.strip())
    Revenu_moyen.append(soup.find_all('td')[16].text.strip())
    Prix_moyen.append(soup.find_all('td')[19].text.strip())
    Tranche_population_0_14.append(soup.find("canvas",id="chart_age")["data-data"])
    Activite_professionnelle.append(soup.find("canvas",id="chart_metier")["data-data"])
    Note_global.append(soup.find("div", {"class": "total compteur"}).contents[0])
#creating dataframe for all list
features = {'Ville':Ville, 'Nb_habitants':Nb_habitants, 'Superficie':Superficie, 'Pop_densite':Pop_densite,
           'Pop_active':Pop_active, 'Taux_chomage':Taux_chomage, 'Revenu_moyen':Revenu_moyen, 'Prix_moyen':Prix_moyen,
           'Tranche_population_0_14':Tranche_population_0_14, 'Activite_professionnelle':Activite_professionnelle,
           'Note_global':Note_global}
df = pd.DataFrame(features)
df

'Le Puy-en-Velay 43000'

,Ville,Nb_habitants,Superficie,Pop_densite,Pop_active,Taux_chomage,Revenu_moyen,Prix_moyen,Tranche_population_0_14,Activite_professionnelle,Note_global
0,Le Puy-en-Velay 43000,18 909,17 km²,1 112 h/km²,43.5%,8%,18 086 €/an,1 359 €,"[15,21,17,18,17,10,2]","[0,3,5,11,15,10,26,16]",3.8

In [28]:
dfVille, dfComm = recupData('https://www.bien-dans-ma-ville.fr/soleilhas-04210')
dfVille2, dfComm2 = recupData('https://www.bien-dans-ma-ville.fr/puy-en-velay-43157')
dfConcat=pd.concat([dfComm,dfComm2], axis=0)
dfConcat

TypeError: recupData() missing 1 required positional argument: 'insee'

# Tranche age population :

In [ ]:
#Creation d'un nouveau dataframe pour les tranches de populations
dfTranche_population=df['Tranche_population_0_14']
dfTranche_population = dfTranche_population.str[1:-1]
TotListeAge = dfTranche_population.str.split(",").apply(pd.Series)
TotListeAge
listeAge = ['0-14 ans','15-29 ans', '30-44 ans', '45-59 ans','60-74 ans','75-89 ans','90+ ans']
dfListeAgeNom=pd.DataFrame(listeAge)
dfListeAgeNom=dfListeAgeNom.transpose()
dfListeAge=pd.concat([dfListeAgeNom, TotListeAge])
headers = dfListeAge.iloc[0]
dfListeAge  = pd.DataFrame(dfListeAge.values[1:], columns=headers)
dfListeAge

# Tranche professionnel population :

In [ ]:
#Creation d'un nouveau dataframe pour les activités professionelle
dfActivite_professionnelle=df['Activite_professionnelle']
dfActivite_professionnelle = dfActivite_professionnelle.str[1:-1]
TotActivites = dfActivite_professionnelle.str.split(",").apply(pd.Series)
TotActivites
listeActivites = ['Agriculteurs','Artisants/Commercants', 'Cadres', 'Profession intermédiaire','Employes','Ouvriers','Retraites','Sans emploie']
dfActivitesNom=pd.DataFrame(listeActivites)
dfActivitesNom=dfActivitesNom.transpose()
dfListeActivites=pd.concat([dfActivitesNom, TotActivites])
headersActivites = dfListeActivites.iloc[0]
dfListeActivites  = pd.DataFrame(dfListeActivites.values[1:], columns=headersActivites)
dfListeActivites

# Fusion des données :

In [ ]:
#Concat entre le DF le dataframe des tranches de populations et le dataframe des activités professionelle
dfConcat=pd.concat([df, dfListeActivites,dfListeAge,dfNote,df_service], axis=1)
dfConcat

# Commentaires :

In [ ]:
com = soupavis.findAll("div",{"class":"commentaire"})

avis = []
for i in com :
  dico_com={}
  dico_com['Ville']=df['Ville'][0]
  k=0
  for j in i.findAll("span"):  
    if(j.has_attr('title')) :
      dico_com[j['title']]=int(j.contents[0])
    elif (k==0 and not j.has_attr('class')):
      dico_com['pouce_positif']=int(j.contents[0])
      k+=1
    elif( not j.has_attr('class')):
      dico_com['pouce_negatif']=int(j.contents[0])
  dico_com['commentaire']=i.find('p',{'class':'description'}).contents[0]
  dico_com['date']=i.find('div',{'class':'date'}).contents[0]
  dico_com['auteur']=i.find('div',{'class':'auteur'}).contents[0]
  avis.append(dico_com)
df_com=pd.DataFrame(avis)
df_com